# Default ignored files
/shelf/
/workspace.xml
/.gradle/*
/.idea/*
/gradle/*
/src/test/*
/build/*
/first_task/build/*
/second_task/build/*
first_task/.gradle/*
first_task/.idea/*
first_task/gradle/*
first_task/src/test/*
first_task/build/*
second_task/.gradle/*
second_task/.idea/*
second_task/gradle/*
second_task/src/test/*
second_task/build/
second_task2/.gradle/*
second_task2/.idea/*
second_task2/gradle/*
second_task2/src/test/*
second_task2/build/